Flask
Werkzeug
gunicorn
requests
urllib3
psycopg2-binary
psycopg2
cryptography
pyotp
qrcode
Pillow
opencv-python-headless
pytesseract
pypdf
reportlab
arabic-reshaper
python-bidi
beautifulsoup4
lxml
maigret
holehe
selenium
python-whois
psutil
numpy
faker
mimetypes-extensions
