flask
requests
cryptography
Pillow
pypdf
pyotp
qrcode
psutil
exifread
faker
gunicorn
opencv-python-headless
numpy
pytesseract
psycopg2-binary
reportlab
arabic-reshaper
python-bidi
edge-tts
gradio_client
maigret==0.5.0
sherlock-project==0.16.0
