flask
requests
cryptography
Pillow
pypdf
pyotp
qrcode
psutil
faker
gunicorn
opencv-python-headless
numpy
pytesseract
psycopg2-binary
reportlab
arabic-reshaper
python-bidi
psycopg2
maigret
holehe
beautifulsoup4>=4.12.0
selenium>=4.10.0
lxml>=4.9.0
mimetypes-extensions>=0.1.0
urllib3>=2.0.0
